name: Node.js test

on:
  pull_request:
    branches: [main]

defaults:
  run:
    working-directory: admin-support-cli

permissions:
  contents: write

jobs:
  test:
    name: Run tests

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: admin-support-cli/package-lock.json

      - run: npm install --ignore-scripts --pure-lockfile

      - run: npm run build --if-present

      - run: npm run test --if-present

      - name: Update dist
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr checkout ${{ github.event.pull_request.number }}
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          DIFF=$(git diff-index HEAD dist/)
          if [ "$DIFF" ]
          then
            git commit -m "build: update action dist" dist/index.js
            git push
          else
            echo "Distribution is up-to-date."
          fi
